<div id="footer">
	<div class="container">
		<div class="row 200%">
			<section class="4u 6u(medium) 12u$(xsmall)">
				<h3>Latest Articles</h3>
				<ul class="updates">
					<li>
						<p><a href="#">Phasellus tortor magna, convallis sed felis tempor volutpat lorem quam. Phasellus lacinia.</a></p>
						<span class="timestamp">March 29, 2015</span>
					</li>
					<li>
						<p><a href="#">Feugiat quam posuere feugiat. Nullam porttitor sodales lorem ipsum dolor sit amet.</a></p>
						<span class="timestamp">March 24, 2015</span>
					</li>
				</ul>
			</section>
			<section class="4u 6u(medium) 12u$(xsmall)">
				<h3>Release Notes</h3>
				<ul class="updates">
					<li>
						<p><a href="#">Phasellus tortor magna, convallis sed felis tempor volutpat lorem quam. Phasellus lacinia.</a></p>
						<span class="timestamp">March 29, 2015</span>
					</li>
					<li>
						<p><a href="#">Feugiat quam posuere feugiat. Nullam porttitor sodales lorem ipsum dolor sit amet.</a></p>
						<span class="timestamp">March 24, 2015</span>
					</li>
				</ul>
			</section>
			<section class="4u$ 6u$(medium) 12u$(xsmall)">
				<h3>Links</h3>
				<ul class="labeled-icons">
					<li>
						<h4 class="icon fa-github-square"><span class="label">Github</span></h4>
						<a href="https://github.com/project-humix" target="_blank">Github</a>
					</li>
					<li>
						<h4 class="icon fa-facebook-square"><span class="label">Facebook</span></h4>
						<a href="https://www.facebook.com/humixomega" target="_blank">Facebook</a>
					</li>
					<li>
						<h4 class="icon fa-server"><span class="label">Bluemix</span></h4>
						<a href="https://console.ng.bluemix.net/" target="_blank">Bluemix</a>
					</li>
					<li>
						<h4 class="icon fa-envelope"><span class="label">Contact Us</span></h4>
						<a href="#">Contact Us</a>
					</li>
				</ul>
			</section>
		</div>
	</div>
	<ul class="copyright">
		<li>&copy; Humix.</li>
		<li>An open-source robot framework.</li>
		<li><a href="#">Contact Us</a></li>
	</ul>
</div>