<h1><a id="logo" href="/"><img src="/images/nav.png"/></a></h1>
<nav id="nav">
	<ul>
		<li>
			<a>Get Started</a>
			<ul>
				<li><a href="/humix-think">Humix Think Setup</a></li>
				<li><a href="/humix-sense">Humix Sense Setup</a></li>
				<li><a href="/example">Examples</a></li>
			</ul>
		</li>
		<li><a href="/feature">Features</a></li>
		<li><a href="#">Blog</a></li>
		<li><a href="/documentation">Documentation</a></li>
		<li><a href="https://github.com/project-humix" target="_blank">Github</a></li>
		<!-- <li><a href="/support">Support</a></li> -->
	</ul>
</nav>