<h1><a id="logo" href="/">Humix</a></h1>
<nav id="nav">
	<ul>
		<li><a href="/">Home</a></li>
		<li>
			<a>Get Started</a>
			<ul>
				<li><a href="#">Humix Think Setup</a></li>
				<li><a href="#">Humix Sense Setup</a></li>
				<li><a href="#">Examples</a></li>
			</ul>
		</li>
		<li><a href="/feature">Features</a></li>
		<li><a href="#">Documentation</a></li>
		<li><a href="#">Support</a></li>
	</ul>
</nav>