<!DOCTYPE HTML>
<html>
	<head>
		<title>Humix | An open-source robot framework </title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		
		<%- partial('components/scripts') %>

	</head>
	<body class="landing">

		<!-- Header -->
			<header id="header" class="alt">
				<%- partial('components/navigation') %>
			</header>

		<!-- Banner -->
			<section id="banner">
				<div class="inner">
					<h2>Meet Humix</h2>
					<p>An open-source robot framework based on Bluemix, IoT foundation and Watson artificial intelligence.</p>
					<ul class="actions">
						<li><a href="#content" class="button special big">Get Started</a></li>
						<li><a href="#two" class="button big">Learn More</a></li>
					</ul>
				</div>
				<div class="browser-mockup">
					<div class="chrome">
						<span class="url">https://humix.org</span>
					</div>
					<img src="images/banner.png"/>
				</div>
			</section>

		<!-- One -->
			<section id="one" class="wrapper style1">
				<div class="container">
					<div class="row">
						<div class="4u 12u$(medium)">
							<h3 class="icon fa-code">Flexible Platform</h3>
							<p>Support a variety of languages including Java, JavaScript, Go, Python, Ruby...</p>
						</div>
						<div class="4u 12u$(medium)">
							<h3 class="icon fa-cubes">Composable Services</h3>
							<p>Apply APIs, apps and services on IBM Bluemix in no time.</p>
						</div>
						<div class="4u$ 12u$(medium)">
							<h3 class="icon fa-arrows-alt">Versatile Channel</h3>
							<p>Communicate among devicces with real-time MQTT or RESTful API.</p>
						</div>
					</div>
				</div>
			</section>

		<!-- Two -->
			<section id="two" class="wrapper style2">
				<div class="container">
					<section class="spotlight left">
						<div class="row 200%">
							<div class="4u 12u$(medium)">
								<span class="image fit"><img src="/images/overview.png" alt="Overview" /></span>
							</div>
							<div class="8u$ 12u$(medium)">
								<h2>Overview</h2>
								<p>Humix is an open source robot connectivity and design framework that make it easy to bridge cloud API with hardware sensors and devices. Combining with Watson APIs, the framework help everyone to build their own cloud-brained robot with a few minimal steps.</p>
							</div>
						</div>
					</section>
					<section class="spotlight right">
						<div class="row 200%">
							<div class="8u 12u$(medium)">
								<h2>Architecture</h2>
								<p>Essentially, Humix consists of two major components - <strong>Humix Think</strong> and <strong>Humix Sense</strong>. <strong>Humix Think</strong> is the cloud-side component that embeds a NodeRed flow editor for design robot behaviour. <strong>Humix Sense</strong>, on the other hand, is located on the device that acting as a robot.</p>
							</div>
							<div class="4u$ 12u$(medium) important(medium)">
								<span class="image fit"><img src="/images/architecture.png" alt="Architecture" /></span>
							</div>
						</div>
					</section>
				</div>
			</section>

		<%- partial('components/footer') %>
			

	</body>
</html>